{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">My Subscriptions</h1>
    <a href="{% url 'add_feed' %}" class="btn btn-primary mb-3">Add new Feed <span class="mdi mdi-plus-circle"></span></a>
    <div class="accordion" id="mainAccordion">
        {% for feed in feeds %}
            <div class="card">
                <div class="card-header" id="card-{{feed.id}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{feed.id}}" aria-expanded="true" aria-controls="collapse{{feed.id}}">{{feed.name}}</button>
                    </h2>
                </div>
                <div id="collapse{{feed.id}}" class="collapse" aria-labelledby="card-{{feed.id}}" data-parent="#mainAccordion">
                    <div class="card-body">
                        <strong>URL: </strong>{{feed.feed_url}}<br/>
                        <a href="{% url 'update_feed' feed.id %}" class="btn btn-secondary btn-sm">Update</a>
                        <a href="{% url 'delete_feed' feed.id %}" class="btn btn-danger btn-sm">Delete</a> 
                    </div>
                </div>
            </div>
            <br/>
        {% endfor %}
    </div>
</div>

{% endblock content %}