{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load tz %}

{% block content %}
<div class="container">
    <h1 class="text-center">My Feed</h1>
    <form action="{% url 'home' %}" method="get">
        <input type="submit" class="btn btn-primary" value="Get new posts" name="new_posts"> 
        <small>Last Checked: {{last_checked.checked_time}}</small>
    </form>
    <br>
    {% if filter.form.errors %}
        {% for field in filter.form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" id="field-errors">
                    <strong>{{ error|escape }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in filter.form.non_field_errors %}
            <div class="alert alert-danger" id="non-field-errors">
                <strong>{{ error|escape }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="accordion" id="filterAccordion">
        <div class="card">
            <div class="card-header" id="filter-header">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#filter-collapse" aria-expanded="true" aria-controls="filter-collapse">Filters & Sorting</button>
                </h2>
            </div>
            <div id="filter-collapse" class="collapse" aria-labelledby="filter-header" data-parent="#filterAccordion">
                <div class="card-body">         
                    <form action="" method="get">
                        <h5 class="text-center">Filter Posts <span class="mdi mdi-filter-menu"></span></h5>
                        <div class="container border p-3">
                            {{filter.form.source__name__icontains|as_crispy_field}}
                            {{filter.form.title__icontains|as_crispy_field}}
                            Date Range: {{filter.form.created}}
                        </div>
                        <br>
                        <h5 class="text-center">Sort Posts <span class="mdi mdi-sort-ascending"></span></h5>
                        <div class="container border" style="padding: 10px;">
                           {{filter.form.sort}}
                        </div>
                        <input type="submit" class="btn btn-primary" style="margin: 10px;"/>
                        <input type="submit" class="btn btn-secondary" onclick="clearFilters()" value="Clear Filters"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    {% for post in posts %}
        <div class="card mb-3">
            {% if post.image_url %}
                <img src={{post.image_url}} class="card-img mx-auto" style='height: 30%; width: 30%; object-fit: contain'>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{{post.link}}">{{post.title}}</a></h5>
                <p class="card-text"><small><b>Source: </b>{{post.source.name}}</small></p>
                <p class="card-text">{{post.body}}</p>
                <p class="card-text"><i>Created on: {{post.created | date:"m/d/Y H:m"}}</i></p>
            </div>
        </div>
        <br/>
    {% endfor %}
    {% if posts.has_other_pages %}
        <ul class="pagination">
            {% if posts.has_previous %}
                {% if '&' in request.get_full_path %}
                    <li class="page-item">
                        <a class="page-link" id="page-prev" href="{{request.get_full_path}}&page={{posts.previous_page_number}}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" id="page-prev" href="?page={{posts.previous_page_number}}">Previous</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link disabled">Previous</span>
                </li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    {% if '&' in request.get_full_path %}
                        <li class="page-item">
                            <a id="page-num" class="page-link" href="{{request.get_full_path}}&page={{i}}">
                                {{ i }}
                            </a>
                        </li>
                    {% else %}
                       <li class="page-item">
                            <a id="page-num" class="page-link" href="?page={{i}}">
                                {{ i }}
                            </a>
                        </li> 
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                {% if '&' in request.get_full_path %}
                    <li class="page-item">
                        <a id="page-next" class="page-link" href="{{request.get_full_path}}&page={{posts.next_page_number}}">Next</a>
                    </li>
                {% else %}
                   <li class="page-item">
                        <a id="page-num" class="page-link" href="?page={{posts.next_page_number}}">
                            Next
                        </a>
                    </li> 
                {% endif %}
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>
<script>
    clearFilters = () => {
        document.getElementById("id_source__name__icontains").value = ''
        document.getElementById("id_title__icontains").value = ''
        document.getElementById("id_created_0").value = ''
    }
</script>
{% endblock content %}