{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row justify-content-center">
            <aside class="col-sm-4">
            <div class="card mt-5">
                <article class="card-body">
                    <a href="{% url 'signup' %}" class="float-right btn btn-outline-primary">Sign up</a>
                    <h4 class="card-title mb-4 mt-1">Sign in</h4>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{form.username|as_crispy_field}} 
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            {{form.password|as_crispy_field}} 
                        </div> <!-- form-group// --> 
                    
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                        </div> <!-- form-group// -->                                                           
                    </form>
                </article>
            </div> <!-- card.// -->
        </div>
    </div>
    <style>
        .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
    </style>
{% endblock content %}